@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Vujahday+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap");
  
* , html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  transition: all .3s ease-in-out;
  
}

.color-1 {
  color: #0044AB;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 60px;
  font-family: "Tai Heritage Pro", serif;
  font-weight: 400;
  font-style: normal;
}
.content {
  display: flex;
  flex-direction: column;
}
main{
  text-align: justify;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}

h1 {
  position: relative;
  font-size: 52px;
  text-align: center;
  font-family: "Vujahday Script", serif;
  font-weight: 400;
  font-style: normal;
}

h1::before {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #0044abe0;
  border-radius: 50%;
  position: absolute;
  bottom: 20vh;
  right: 30vw;
}

h1::after {
  content: '';
  width: 55px;
  height: 55px;
  background-color: rgba(0, 119, 255, 0.568);
  border-radius: 50%;
  position: absolute;
  top: 60vh;
  left: 60vw;
}
h2 {
    font-family: "Tai Heritage Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 435.453px;
  gap: 30px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.major-text > p {
  line-height: 1.5;
  font-size: 16px;
}
.minor-text > p {
  font-size: 16px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #707070;
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  left: 70vw;
}
footer::before{
  content: '';
  width: 60px;
  height: 60px;
  background-color: #a7a7a7;
  border-radius: 50%;
  position: absolute;
  bottom: 20vh;
  right: 90vw;
}

.download-CV {
  text-decoration: none;
  color: inherit; 
  cursor: pointer; 
  color: #0044AB;
}
.download-CV:hover {
  text-decoration: underline
}
.right-content {
  width: 300px;
  height: 300px;
}
figure {
  position: relative;
  width: 300px;
  height: 300px;
}
figure > img {
  position: relative;
  width: 300px;
  height: 300px;
}
ul {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
li {
  width: auto;
  height: auto;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

li a {
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 30px;
}
a img {
  width: 30px;
  height: 30px;
}


