@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* , html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

.white-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vw;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  animation: shrinkAndDisappear 1s forwards;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes shrinkAndDisappear {
  0% {
    transform: translate(-50%, -50%) scale(1); 
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5); 
    opacity: 1; 
  }
  100% {
    transform: translate(-50%, -50%) scale(0); 
    opacity: 0;
  }
}

.color-1 {
  font-size: 5.2rem;
  color: #0044AB;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 60px;
}

.content {
  display: flex;
  flex-direction: column;
}

main p{
  font-size: 1.6rem;
  display: flex;
  height: auto;
  text-align: start;
}

h1 {
  position: relative;
  font-size: 5.2rem;
  text-align: center;
  font-family: "Vujahday Script", serif;
  font-weight: 400;
  font-style: normal;
}

h1::before {
  content: '';
  width: 5rem;
  height: 5rem;
  background-color: #0044abe0;
  border-radius: 50%;
  position: absolute;
  bottom: 20vh;
  right: 30vw;
}

h1::after {
  content: '';
  width: 5.5rem;
  height: 5.5rem;
  background-color: rgba(0, 119, 255, 0.568);
  border-radius: 50%;
  position: absolute;
  top: 60vh;
  left: 60vw;
}

h2 {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 47.0453rem;
  gap: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer::after {
  content: '';
  width: 3rem;
  height: 3rem;
  background-color: #707070;
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  left: 70vw;
}

footer::before{
  content: '';
  width: 6rem;
  height: 6rem;
  background-color: #a7a7a7;
  border-radius: 50%;
  position: absolute;
  bottom: 20vh;
  right: 90vw;
}

.download-CV {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit; 
  cursor: pointer; 
  color: #0044AB;
}

.download-CV:hover {
  text-decoration: underline;
}

figure > img {
  width: 27rem;
  height: 27rem;
}

ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

li {
  width: auto;
  height: auto;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

li a {
  display: inline-block;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
}

a img {
  width: 4rem;
  height: 4rem;
}

#SLG_balloon_obj {
  display: none !important;
}

main > p {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

@media screen and (max-width:950px){
  html{
    font-size: 50%;
  }

  body {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .left-content {
      width: 44.0453rem;
  }
  figure img {
    width: 160px;
    height: 160px;
  }

  main p {
    padding: 15px 0px;
    font-size: 16px;
  }

  .download-CV {
    font-size: 16px;
  }

  li a {
    width: 4rem;
    height: 4rem;
  }

  a img {
    width: 4rem;
    height: 4rem;
  }

  h1::before {
    display: none;
  }

  h1::after {
    display: none;
  }

  footer::before {
    display: none;
  }

  footer::after {
    display: none;
  }
}
