
.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;    
    text-align: center;
    gap: 60px;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 60px;
    box-sizing: border-box;
    margin: 0 60px;
}



h1 span {
    color: var(--color-theme4);
}

.profession{
    font-weight: 400;
    font-size: 18px;
}

main {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    font-style: normal;
}


.profile_photo {
    box-sizing: border-box;
    width: 100%;
    max-width: 257px;
    height: auto;
}

.social-medias {
    display: flex;
    gap: 15px;
}


.download-CV {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
    line-height: 1.8;
    font-style: normal;
    text-decoration: none;
    background-color: var(--color-theme4);
    font-size: 14px;
    padding:6px 12px;
    margin: 0;
    border: 0;
    text-decoration: none;
    color: var(--color-theme2);
}

.download-CV:hover{
    cursor: pointer;
    opacity: .9;
}




.welcome{ 
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (max-width:950px) {

   
    .hero {
        flex-direction: column-reverse;
        margin: 0 0 220px;
        padding: 0 30px;
    }
}

@media (max-width:450px) {
    @keyframes float {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, 10px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .hero {
        position: relative;
        gap: 15px;
        justify-content: center;
        margin: 0 0 0;
    }

    .hero::before  {
        content: "";

        width: 40px;
        height: 40px;

        background-image: url("../assets/Scroll-Down.png");
        background-size: cover;
        background-position: center;
        
        
        margin-top: 60px;
        animation: float 1.5s ease-in-out infinite;
    }

    .content {
        gap: 60px;
    }

    .profile_photo {
        display: flex;
        justify-content: center;
    }

    .profile_photo img {
        max-width: 180px;

    }
   
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    main p {
        text-align: center;
        font-size: 16px;
    }
}


